<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="dxx" enabled="true">
                    <match url="livedxx$" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://qndxx.youth54.cn/SmartLA/lottery.w?method=queryPersonStudyRecord&amp;openid=ohz9Mt-kgxE8FAgmiU1gp7aUSZ3Y" appendQueryString="true" />
                </rule>
                <rule name="SmartLA">
                    <match url="SmartLA/wechat/vuepack/vue.min.js" />
                    <action type="Rewrite" url="http://qndxx.youth54.cn/SmartLA/wechat/vuepack/vue.min.js" />
                    <conditions logicalGrouping="MatchAny" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
